.popup {
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
  display: none;
  opacity: 0;
}

body.interstitial .popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 999;
  overflow-y: scroll;
}

body.interstitial .popup > .content {
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  transform: scale(0.85);
}

body.interstitial .popup > .content .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  color: #bbbbbb;
}

body.interstitial .popup > .content .close:hover {
  color: #777777;
}
